@import url('https://fonts.cdnfonts.com/css/quilin');

@font-face {
    font-family: 'Postre';
    src: url('/demo-postre.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFFDF0;
    width: 100%;
    padding-bottom: 30px;
}

.upper-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 160px;
}

.Logo {
    font-family: 'Quilin';
    color: #BE2233;
    font-size: 36px;
}
.banner {
    width: 100%;
    height: auto;
    display: block;
}

body {
    background-color: #ffffff;
}

footer {
    background-color: #2668A2;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 78px;
}
nav ul li a{
    font-size: 24px;
    padding-right: 28px;
    font-family: 'Quilin';
    text-decoration: none;
    color: #346D9E;
}

hr {
    width: 1032px;
    border: 0;
    border-top: 2px solid #F4D9D2;
    margin: auto;
    margin-bottom: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #F4D9D2;
    border-radius: 5px;
}

.search-bar input {
    font-size: 24px;
    font-family: 'Quilin';
    border: none;
    width: 496px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    color: #CC876A;
}

.search-bar input::placeholder {
    color: #CC876A;
}

.search-bar input:focus {
    background-color: #F4D9D2;
    color: #CC876A;
}

.search-bar button {
    background-color: transparent;
    border: none;
}

.search-bar button:focus {
    outline: none;
}

.search-bar img {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.account {
    display: flex;
    align-items: center;
}

.account-link-1 {
    font-family: 'Postre';
    color: #346D9E;
    text-decoration: none;
}

.account-link-2 {
    font-family: 'Postre';
    color: #CC876A;
    text-decoration: none;
    margin-right: 20px;
}
.logout{
    width: 18px;
    height: 18px;
    margin-right: 4px;
}
.card{
    width: 35px;
    height: 25px;
}
.profile-circle {
    width: 26px;
    height: 26px;
    background-color: #CC876A;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: 'Postre';
    margin-left: 10px;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.banner {
    width: 100%;
}

.title {
    font-size: 36px;
    color: #CC876A;
    text-align: center;
    margin: 17px;
    font-family: 'Postre';
}

.product-catalog {
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-list {
    width: 100%;
    display: flex;
}

.product-card {
    width: 240px;
    height: 387px;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
    margin: 5px;
    position: relative;
}

.img-card {
    width: 240px;
    height: 237px;
}

.product-title {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 24px;
    color: #CC876A;
    font-family: 'Postre';
}

.product-info {
    margin-left: 15px;
    color: #346D9E;
    font-family: 'Quilin';
    font-weight: bold;
    position: absolute;
    bottom: 18px;
}

.text-value {
    font-size: 24px;
    font-family: 'Quilin';
    margin: 0px;
    font-weight: bold;
}

.payment-offer {
    font-size: 15px;
    margin: 0px;
    font-family: 'Postre', serif;
    font-weight: bold;
}

.catalog-center {
    width: 1020px;
    margin: auto;
    padding: auto;
    display: block;
}

.card-two {
    width: 494px;
    height: 414px;
    margin: 6px;
    margin-top: 64px;
}

.card {
    text-align: center;
}
.button-launch {
    background-color: #346D9E;
    width: 88px;
    height: 21px;
    color: #FFFDF0;
    border-style: none;
    font-size: 11px;
    border-radius: 5px;
    position: absolute;
    top: 225px;
    left: 74.5px;
    font-family: 'Postre';
}

.featured-items{
    text-align: center;
}

.featured-image {
    width: 494px;
    height: 414px;
    margin: 6px;
    margin-top: 64px;
}

.featured-card {
    position: relative;
    display: inline-block;
}

.featured-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    pointer-events: none;
    z-index: 1;
}

footer {
    width: 100%;
    height: 528px;
    font-size: 18px;
    font-family: 'Postre' serif;
    background-color: #2668A2;
    color: #FFFDF0;
    margin-top: 60px;
}

.input-registration-footer {
    width: 503px;
    height: 44px;
    background-color: #F4D9D2;
    border-radius: 5px;
    position: relative;
    margin-left: 200px;

}

.text-input {
    color: #CCAD6E;
    font-size: 16px;
    padding-left: 20px;
    margin-top: 13px;
}

.button-registration-footer {
    width: 159px;
    height: 44px;
    background-color: #CC876A;
    border-style: none;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #FFFDF0;
    font-size: 16px;
}

.text-registration-footer {
    color: #CCAD6E;
    font-size: 18px;
    margin: 0px;
}

.title-registration-footer {
    font-size: 22px;
    font-family: 'Postre';
}

h1,h2,p {
    margin: 0px;
}

.upper-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 55px;
}

.line-footer {
    width: 1008px;
    margin: auto;
    border: 1px solid #F4D9D2;
    margin-top: 25px;
    margin-bottom: 64px;
}

.icons-footer {
    width: 28px;
    height: 28px;
    margin-left: 15px;
    margin-top: 20px;
}
.contact-icon{
    width: 13px;
    height: 12px;
    margin: 2px;
}
.bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 210px;
    margin: 33px;
}

.title-column {
    font-size: 20px;
}

.column-info {
    font-size: 16px;
    color: #CCAD6E;
}

.formas-pagamento {
    width: 290px;
    height: 189px;
}

.footer-column {
    margin: 34px;
    margin-top: 0px;
}

.number-email {
    display: flex;
    flex-direction: row;
}

.text-logo-footer {
    font-size: 36px;
    text-align: center;
    padding-bottom: 34px;
}